// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$body-bg:       #f5f5f5 !default;
$body-color:    #222222 !default;

$primary:       #3d328e !default;
$secondary:     #f9b083 !default;

$black:         #000000 !default;
$dark:          #222222 !default;

$light:         #f5f5f5 !default;
$smoke:         #f2f2f2 !default;
$white:         #ffffff !default;

$success:       #28a745 !default;
$info:          #007bff !default;
$warning:       #fd7e14 !default;
$danger:        #dc3545 !default;
